*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
html{
    width: 100%;
    height: 100%;
}
body{
    
    width: 100%;
    height: 100%;
}
#content{
    
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
   
    display: flex;
    flex-direction: column;
}
.dots{
    list-style: none;
    font-size: 30px;
    cursor: pointer;
    margin: 2px;
}

#td_dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.p-dot{
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    width: 10px;
    height: 10px;
}
/* .task{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
} */
td{
    border-bottom: 2px solid lightgray;
    padding: 10px;
    text-align: center;
 }
 #dialog{
    width: 350px;
    height: 300px;
    background-color: white;
    border: 2px solid lightgray;
    display: none;
    padding: 0;
    margin: auto;
    border-radius: 20px;
 }
 form{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 #form_ele{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
 }
 .label{
    padding: 15px;
    width: 45%;
 }
 .input{
    padding: 15px;
    width: 50%;
 }
 #form_title{
    display: flex;
    flex-direction: row;
    background-color: gold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }
 #submit_btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: lightgray;
 }
 #reset_btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: lightgray;
 }
 
 #dots_inner{
    display: flex;
    position: absolute;
    background-color:black;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    right: 0;
    z-index: 1;
 }
 #del,#edit{
   text-align: center;
 }
 #popup{
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    height: 70%;
 }
 @media screen and (max-width:400px){
    *{
        font-size: 12px;
    }
    input{
        width: 100%;
    }
    #submit_btn,#reset_btn{
        width: 60%;
    }
    #td_dots{
        padding: 2px;
    }
    .p-dot{
        font-size: 40px;
    }
 }
 /* @media screen and (max-width:2560px) {
    *{
        font-size: 40px;
    }
 } */