*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
html{
    width: 100%;
    height: 100%;
}
body{
    
    width: 100%;
    height: 100%;
}
#content{
    
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
   
    display: flex;
    flex-direction: column;
}

td{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}

.dots{
    list-style: none;
    font-size: 50px;
    cursor: pointer;
}

#td_dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.p-dot{
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    width: 10px;
    height: 10px;
}
#dots_inner{
    display: none;
    position: absolute;
    background-color:black;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    flex-direction: column;
    gap: 5px;
    right: 0;
    z-index: 1;
 }
 .start{
    width: 80px;
    height: 30px;
    background-color: gold;
    border-radius: 20px;
    margin: 7px;
    cursor: pointer;
 }
 @media screen and (max-width:400px){
    *{
        font-size: 12px;
    }
 }